.main-canvas {
    position: absolute;
}
.sidebar {
    width: 10em;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.game-outcome {
    text-align: center;
    opacity: 0.75;
}
