<!doctype html>
<head>
  <title>Astro</title>
  <link rel="stylesheet" href="/static/lib/bootstrap.css">
  <link rel="stylesheet" href="/static/astro.css">
  <script src="/static/lib/jquery.js"></script>
  <script src="/static/lib/popper.js"></script>
  <script src="/static/lib/bootstrap.js"></script>
  <script src="/static/astro.js"></script>
</head>
<body>

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <button class="navbar-toggler navbar-toggler-right" type="button"
            data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Astro</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="navbar-nav">
        <form class="form-inline">
          <input class="form-control mr-sm-2 replay-file" id="replay-file" type="file" hidden>
          <label class="form-control btn-dark" for="replay-file">Replay</label>
        </form>
        <div class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#"
             id="navbarPlayDropdownLink" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Play
          </a>
          <div class="dropdown-menu bot-selector"
               aria-labelledby="navbarPlayDropdownLink">
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-auto sidebar">
        <input type="range" class="replayer-seek" value="0">
        <div class="btn-group replayer-controls">
          <button class="btn replayer-start">&#x23ea;</button>
          <button class="btn replayer-play">&#x23f5;</button>
          <button class="btn replayer-pause">&#x23f8;</button>
          <button class="btn replayer-restart">&#x21bb;</button>
          <button class="btn replayer-end">&#x23e9;</button>
        </div>
      </div>

      <div class="col-sm main-canvas-holder">
        <canvas class="main-canvas"></canvas>
        <div class="game-outcome centered"></div>
      </div>

    </div>
  </div>
</body>
